* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: 1px solid #000000;
    border-radius: 5px;
    width: 28%;
    height: 480px;
    margin: 5% auto;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    background-color: #2a2ad3;
}

@media only screen and (max-width: 960px) {
    .main-container {
        border: 1px solid #000000;
        border-radius: 5px;
        width: 65%;
        height: 500px;
        margin: 5% auto;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
    }
}

/*display*/
.display {
    width: 90%;
}

#display-field {
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #000;
    color: #fff;
    font-size: 40px;
    text-align: right;
}

/* content section*/
.grid-container {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    width: 95%;
    height: 400px;
    padding-left: 15px;
}

.grid-item {
    width: 110px;
    height: 60px;
    font-size: 30px;
    cursor: pointer;
    align-self: center;
    background-color: #2a7583;
    color: #fff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.operator, .equal {
    background-color: #ff8800;
    font-weight: bold;
}

.clear {
    background-color: #00eeff;
    color: #000;
}