* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {

}

.main-container {
    border: 1px solid #000000;
    border-radius: 5px;
    width: 35%;
    height: 500px;
    margin: 5% auto;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

@media only screen and (max-width: 500px) {
    .main-container {
        border: 1px solid #000000;
        border-radius: 5px;
        width: 80%;
        height: 500px;
        margin: 5% auto;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
}
}